/*
ul {
    list-style-type: none;
  }

.resume {
    text-align: center;
}

div {
    text-align:center;
}
*/

.resume {
    background-color: #3399ff;
    color: white;
}

ul {
    list-style: none;
}