/*
.about-me  {
    padding-top: 3%;
    background-color:darkgray;
    padding-bottom: 30%
}

.about-me-image {
    width: 100%;
    height: auto;
}

div {
    background-color: #1e1e1e;
}
*/
.about-me {
    background-color:#1976d2;
    padding-bottom: 100vh;
}
.picture {
    margin-top: 3%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 100%;
    border-color: black;
    border-width: 1%;
    border: 1px solid #1b1b1b
}

.aboutMeText {
    color: white;
}

@media only screen and (min-width: 768px) {
    .aboutMeText{
        margin-top: 20%;
    }
}