/*
div {
    background-color: #1e1e1e;
    color: white;
}
*/
.navbar {
    margin-bottom: 0 !important;
    border-radius: 0px !important
}

.navbar a {
    color: #9d9d9d;
}

.siteTitle {
    margin-top: 10%;
    color: white;
}

.siteSubHeading {
    color: white;
}