.navbar {
    background-color: #424242 !important;
    border-color: #424242 !important;
    margin-bottom: 0 !important;
    border-radius: 0px !important;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #bdbdbd;
}

.navbar-brand {
    color: white !important;
}

.navbar-brand :hover {
    color: #bdbdbd !important;
}